In [1]:
#question -1
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [2]:
type(ages)

list

In [3]:
ages.sort()

In [4]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [5]:
#Program to find min and max for the variable age
print(min(ages))

19

In [6]:
#Program to find min and max for the variable age
print(max(ages))

26

In [7]:
ages.append(min(ages))

In [8]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]

In [9]:
ages.append(max(ages))

In [10]:
print(ages)

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [11]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

#sorting the list to find the Median

ages.sort()

print(ages)
  
# printing list
print("The Sorted List is : " + str(ages))
  
  
# Median of the provided list is Given Below

# Using loop + "~" operator
midValue = len(ages) // 2
result = (ages[midValue] + ages[~midValue]) / 2
  
# Printing result
print("Median of list is : " + str(result))

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
The Sorted List is : [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Median of list is : 24.0

In [12]:
print(sum(ages))

228

In [13]:
print(sum(ages)/len(ages))#Average Of the List

22.8

In [14]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)
print(ages[0])#Minimum value
print(ages[9])#Maximum value

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
19
26

In [15]:
#Question -2

In [16]:
#Empty Dictionary
dog={}
print(type(dog))

<class 'dict'>

In [17]:
dog={'name':'Adisi','color':'Brown','Breed':'Labrador','legs':'short','age':4}
print(dog)
print(dog['name'])

{'name': 'Adisi', 'color': 'Brown', 'Breed': 'Labrador', 'legs': 'short', 'age': 4}
Adisi

In [18]:
student = {'first_name':'Samanth', 'last_name':'satvai', 'gender':'Male', 'age':'25', 'marital status':'Single','skills':'Reading', 'country':'India', 'city':'Hyderabad', 'address':'KPHB'}
print (student) #printing the student dictionary
print(len(student)) #finding the length of the student dictionary using len function
print(student['skills']) #Getting the value of skills
print(type(student['skills'])) #checking the data type of skills
student['skills']='cycling','music' #updating the skills
print(student)
keys = print(student.keys()) #getting the dictionary keys as list
values = print(student.values()) #getting the dictionary values as list

{'first_name': 'Samanth', 'last_name': 'satvai', 'gender': 'Male', 'age': '25', 'marital status': 'Single', 'skills': 'Reading', 'country': 'India', 'city': 'Hyderabad', 'address': 'KPHB'}
9
Reading
<class 'str'>
{'first_name': 'Samanth', 'last_name': 'satvai', 'gender': 'Male', 'age': '25', 'marital status': 'Single', 'skills': ('cycling', 'music'), 'country': 'India', 'city': 'Hyderabad', 'address': 'KPHB'}
dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
dict_values(['Samanth', 'satvai', 'Male', '25', 'Single', ('cycling', 'music'), 'India', 'Hyderabad', 'KPHB'])

In [19]:
MyDict={'first_name':'samanth', 'last_name':'satvai' , 'gender':'Male', 'age':21, 'martial status':"Single", 'skills':['c','Python','Java','SQL'],'country':'USA', 'city': 'Overland Park', 'address':'8601 W 131st Ter Overland Prk Kansas 66213'}
MyDict['skills'].append('AWS')
MyDict['skills'].append('Java-Script')
print("The Added vakues in the List are:",MyDict)

The Added vakues in the List are: {'first_name': 'samanth', 'last_name': 'satvai', 'gender': 'Male', 'age': 21, 'martial status': 'Single', 'skills': ['c', 'Python', 'Java', 'SQL', 'AWS', 'Java-Script'], 'country': 'USA', 'city': 'Overland Park', 'address': '8601 W 131st Ter Overland Prk Kansas 66213'}

In [20]:
MyDict={'first_name':'samanth', 'last_name':'satvai' , 'gender':'Male', 'age':21, 'martial status':"Single", 'skills':['c','Python','Java','SQL'],'country':'USA', 'city': 'Overland Park', 'address':'8601 W 131st Ter Overland Prk Kansas 66213'}
print(MyDict.keys())#Here we are accesing keys from MyDict
print(MyDict.values())

dict_keys(['first_name', 'last_name', 'gender', 'age', 'martial status', 'skills', 'country', 'city', 'address'])
dict_values(['samanth', 'satvai', 'Male', 21, 'Single', ['c', 'Python', 'Java', 'SQL'], 'USA', 'Overland Park', '8601 W 131st Ter Overland Prk Kansas 66213'])

In [21]:
#Question -3
MySisters=('Mahitha','Suma','JayaSree')
print(type(MySisters))
print("The People in the Tuple are :",MySisters)
MyBrothers=("Hemanth","Vikranth","Chaitanya")
print("The People in the Tuple are:",MyBrothers)
sibilings = MySisters+MyBrothers
print("On a Whole my Sibilings are :",sibilings)
print("Lenght of the tuple named sibilings is :",len(sibilings))
MyParentNames=("Mohana Venkata Siva Rama Raju","Rupa Devi")
print("The Name of my parents are :",MyParentNames)
family_members=sibilings+MyParentNames
print("The names of my Family members are:",family_members)

<class 'tuple'>
The People in the Tuple are : ('Mahitha', 'Suma', 'JayaSree')
The People in the Tuple are: ('Hemanth', 'Vikranth', 'Chaitanya')
On a Whole my Sibilings are : ('Mahitha', 'Suma', 'JayaSree', 'Hemanth', 'Vikranth', 'Chaitanya')
Lenght of the tuple named sibilings is : 6
The Name of my parents are : ('Mohana Venkata Siva Rama Raju', 'Rupa Devi')
The names of my Family members are: ('Mahitha', 'Suma', 'JayaSree', 'Hemanth', 'Vikranth', 'Chaitanya', 'Mohana Venkata Siva Rama Raju', 'Rupa Devi')

In [22]:
#Question -4
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))
it_companies.add("Twitter")
print("It Companies are :",it_companies)#Here in Set while adding the items in it, it randomly allocates its place anywhere in the set
it_companies.update(["DBS","NCR","TCS","Infosys"])#Here in Set as add() only supports only one argument we woiuld be using update() to add multiple items
print("Names of the Multiple Company names which are added to the Original One :",it_companies)
it_companies.remove("Twitter")#Here for removing a particualr element we would be using remove() ,to remove a random element we would be using pop() method
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
Res=A.union(B)
print("Joining the sets of A and will be :",Res)#Here Union Combines all the elements in the two sets which doesnt include the duplicates in both of the sets
Res1=A.intersection(B)
print("Intersection of the sets A and B is :",Res1)#It returns the common items present in the two sets
print("Finding Whether A is Subset of B? (T/F):",A.issubset(B))#Here as all the elements in  A are in B we can say that A is Subset of B,if it isnt true then issubset() return false basically it returns Boolean Values based on the Context
print("Finding Whether A and B are Disjoint sets or not?",A.isdisjoint(B))#Here it is false because there are similar items that are present in the both of the sets.The main Criteria for Disjoint Sets is that it shouldn't have common items present.
print("The Symmetric difference between the two sets A And are:",B.symmetric_difference(A))
#It Basically caluculates{(A\B)∪(B\A)} to find Symmetric Difference
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
print(type(ages))
print(set(ages))
print(type(ages))#List Converted to set.
#Below is the code for comparing the lenght for both list and set.
if len(ages)==len(A):
    print("Both the set and List are having same no of items i.e Lenght")
else:
    print("The Lenght of list and set are not same")
    
del A

del B

#Here it has deleted the set which we have preferred so that the Python Virtual Machine cannot find the set that is present in the memory
age=set(ages) #converting age to set
print(len(age)<=len(ages)) #comparing the length of set and list

7
It Companies are : {'Twitter', 'Apple', 'IBM', 'Oracle', 'Google', 'Microsoft', 'Amazon', 'Facebook'}
Names of the Multiple Company names which are added to the Original One : {'Apple', 'Microsoft', 'Twitter', 'IBM', 'Oracle', 'Google', 'TCS', 'Amazon', 'Infosys', 'NCR', 'DBS', 'Facebook'}
Joining the sets of A and will be : {19, 20, 22, 24, 25, 26, 27, 28}
Intersection of the sets A and B is : {19, 20, 22, 24, 25, 26}
Finding Whether A is Subset of B? (T/F): True
Finding Whether A and B are Disjoint sets or not? False
The Symmetric difference between the two sets A And are: {27, 28}
<class 'list'>
{19, 20, 22, 24, 25, 26}
<class 'list'>
The Lenght of list and set are not same
True

In [23]:
#Question-5

In [24]:
def AreaOfCircle(radius):
    _area_of_circle_= 3.14*radius*radius
    print("Area of Circle is:",_area_of_circle_)
def CircumferenceOfCircle(radius):
    _circum_of_circle_ = 2*3.14*radius
    return _circum_of_circle_ #Return the Circum Value
AreaOfCircle(30)
Circumference=CircumferenceOfCircle(30)#this holds the circumference value of the circle
print("The Circumference of the Circle  is:",Circumference)

Area of Circle is: 2826.0
The Circumference of the Circle  is: 188.4

In [25]:
Input_radius=int(input("Enter the radius for the Circle: "))#Here we are converting the string input to Integer by doing Type_Casting
def AreaOfCircle(radius):
    _area_of_circle_= 3.14*radius*radius
    print("Area of Circle is:",_area_of_circle_)
AreaOfCircle(Input_radius)

Enter the radius for the Circle: 30
Area of Circle is: 2826.0

In [26]:
#Question-6

In [30]:
#Input=“I am a teacher and I love to inspire and teach people”
string1 = input("Please Enter the String/Sentence ")
Res = set(string1)#set returns the unique items in the String as it is immutable we have to store it in the variable
print(Res)#creates set and include items
Res1=list(string1.split())#Here i have used split() to divide the words and casted to store them in the form of a List.
print(Res1)

Please Enter the String/Sentence King is always a king
{'s', 'l', 'n', 'K', ' ', 'y', 'g', 'w', 'a', 'i', 'k'}
['King', 'is', 'always', 'a', 'king']

In [32]:
#Question-7

In [33]:
#Using Tab Escape Sequence character
#Name Age Country City
 #Asabeneh 250 Finland Helsinki
print('Name\tAge\tCountry\tCity\nAsbeneh\t 250\t Finland Helsinki')

Name	Age	Country	City
Asbeneh	 250	 Finland Helsinki

In [35]:
#Question-8

In [36]:
radius = 10# 1st %d
area = 3.14 * radius ** 2#Here %d represents the integer that to be displayed
formated_string = 'The area of circle with a radius %d is %d square meter.' %(radius, area)
print(formated_string)

The area of circle with a radius 10 is 314 square meter.

In [37]:
#Question-9

In [38]:
# Number of entries for students
no_of_students = int(input("Enter the number of students"))
wts = []
for i in range(no_of_students):
    txt = "Enter the " + str(i) + "th weights(lbs)" 
    wts.append(float(input(txt)))
kgs = []
for wt in wts:
    kgs.append(wt * 0.453592) #Conversion factor
print(kgs)

Enter the number of students2
Enter the 0th weights(lbs)50
Enter the 1th weights(lbs)55
[22.6796, 24.94756]